NODE_ENV=development
APP_NAME=<APP_NAME
APP_PORT=<APP_PORT>
MONGO_URI=<MONGO_URI>
MIN_PASSWORD_LENGTH=<MINIMUM_LENGTH_OF_PASSWORD>,
JWT_SECRET=<APP_JWT_SECRET>
APP_TOKEN_EXPIRE=<TOKEN EXPIRY IN DAY>
SMTP_HOST=<SMTP HOST>
SMTP_PORT=<SMTP PORT>
SMTP_USER= <SMTP USER>
SMTP_PASS= <SMTP PASS>
GOOGLE_KEY= <GOOGLE API KEY FOR GOOGLE LOGIN>
