APP_SECRET_KEY="SUPER_SECRET"
APP_LOCATION="India"

FRONTEND_URL="https://-----.com"

# ##Database configurations
HOST="localhost"
DB_USER="root"
DB_PASSWORD=""
DATABASE="ping_bot"

SMTP_HOST="SMTP_HOST_NAME"
SMTP_USER="SMTP_USERNAME"
SMTP_PASS="SMTP_PASSWORD"
SMTP_PORT="SMTP_PORT"

GOOGLE_KEY="GOOGLE_KEY_FOR_GOOGLE_LOGIN.apps.googleusercontent.com"
